@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Jost:wght@300;400&display=swap');

* {
    margin:0;
    background-color: rgb(244, 244, 231);
}

h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 60px;
   
}

.header h1 {
    padding: 20px 50px;
    margin: 20px;
}

.images {   
    display: flex;
    margin: 30px 50px;
    align-items: center;
    background-color: none;
}

.images img {
    padding: 100px 30px;
}

.images img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



/* --------------------  Image page  -------------------- */


.image1 {
    background-image: images/image1;
    height: 600px;
    width: auto;
}

.maincontainer {
    justify-content: center;
    display: flex;
}

.imagecontainer {
    width: 800px;
    border: 1px solid black;
    justify-content: right;
}



.imagecontainer h3 {
    padding: 30px 0 ;
}

.imagemain {
    display:flex;
}

.imagemain h3 {
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.imagemain p {
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    font-weight: 300;
}