@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');

* {
    margin:0;
    background-color: rgb(244, 244, 231);
}

h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 60px;
    padding: 20px 50px;
    margin: 20px;
}

.images {   
    display: flex;
    margin: 30px 50px;
    border: 1px solid red;
    align-items: center;
    background-color: none;
}

.images img {
    padding: 100px 30px;
}

.images img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.image1 {
    background-image: images/image1;
    height: 600px;
    width: auto;
}