@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Jost:wght@300;400&display=swap');

* {
    margin:0;
    background-color: rgb(244, 244, 231);
}

h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 60px;
   
}

.header h1 {
    padding: 20px 50px;
    margin: 20px;
}

.images {   
    display: flex;
    margin: 30px 50px;
    align-items: center;
    background-color: none;
}

.images img {
    padding: 100px 30px;
    transition: 0.3s;
}

.images img:hover {
    transform: scale(1.1);
    
}



/* --------------------  Image page  -------------------- */


.image1 {
    background-image: images/image1;
    height: 600px;
    width: auto;
}

.container2 {
    justify-content: center;
    display: flex;
}

.imagecontainer {
    width: 800px;
    border: 1px solid black;
    justify-content: right;
}


.imagecontainer h1, h3 {
    padding: 10px 10px 30px 10px ;
}

.imagemain {
    display:flex;
}

.imagecontainer h3 {
    font-family: 'Jost', serif;
    font-size: 24px;
    font-weight: 400;
}

.imagecontainer  p {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 300;
}